# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Data files
data/*.parquet
data/duckdb/*.db

# Results
results/*.csv
results/*.json
results/*.png
results/*.html

# Jupyter Notebook
.ipynb_checkpoints

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
